* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(220, 15%, 55%);
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 25px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin: 40px;
 padding: 10px;
  align-items: center;
  max-width: 375px; 
  width: 100%;
  margin-left: 38%;

}

.card img {
  width: 100%;
  max-width: 2000px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  /* margin-top: 1rem;
  margin-left: 1rem; */
}

.card .content {
  padding: 20px;
}

.card h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6rem;
  text-align: center;

}

.card p {
  font-size: 15px;
  color: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  text-align: center;
  line-height: 1.5rem;
}

.card p:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
    .card {
        max-width: 375px; /* Adjust for tablet width */
    }
}

@media screen and (min-width: 1024px) {
    .card {
        max-width: 400px; /* Adjust for larger screens */
    }
}